<div class="container">
    <div class="receipt">
        <div class="header">
            <h2 class="receiptHeader">Transaction #{{basket.receiptNumber}}</h2>
            <h3 class="receiptHeader">Today: {{basket.date | date}}</h3>
            <p class="receiptHeader">Location: {{basket.location}}</p>
            <p class="receiptHeader">Cashier: {{basket.cashierName}}</p>
            <p class="receiptHeader">Cashier ID: {{basket.cashierId}}</p>
        </div>
        <div class="body">
            <div class="scannedItems">
                <ul>
                    <li *ngFor="let lineItem of basket.lineItems; let i = index" (click)="captureItemData(lineItem)" class="lineItem">
                        <input type="radio" name="radioButton" /><s *ngIf="basket.lineItems[i].voided === true; else notVoided">{{basket.lineItems[i].quantity}}-----{{basket.lineItems[i].item.name}}</s>
                        <ng-template #notVoided>{{basket.lineItems[i].quantity}}-----{{basket.lineItems[i].item.name}}</ng-template>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <p class="receiptFooter">Sub-Total:-----------${{basket.subTotal}}</p>
            <p class="receiptFooter">Sales Tax of 7%:-----${{basket.taxApplied}}</p>
            <br />
            <p class="receiptFooter">Total:---------------${{basket.total}}</p>
            <button (click)="clearBasket()" class="receiptFooter">Clear All</button>
            <button *ngIf="shouldVoid" (click)="voidLineItem()" class="receiptFooter">Void Item</button>
            <button *ngIf="this.basket.lineItems.length > 0 && this.basket.voided === false" (click)="voidBasket()" class="receiptFooter">Void Basket</button>
            <button (click)="tender('cash')" *ngIf="(this.basket.lineItems.length > 0) && (this.basket.voided !== true)">Cash</button>
            <button (click)="tender('credit')" *ngIf="(this.basket.lineItems.length > 0) && (this.basket.voided !== true)">Credit</button>
        </div>
    </div>
    <div class="buttons">
        <div class="itemButtons">
            <button *ngFor="let item of pricebook" class="itemButton" (click)="addItem(item)">{{item.name}}</button>
        </div>
        <div class="navButtons">
            <button class="navButton" (click)="prev()">Prev</button>
            <button class="navButton" (click)="next()">Next</button>
        </div>
    </div>
</div>
