.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 33.3% 66.6%;
    background-image: linear-gradient(to right, rgb(238,42,19), rgb(242,155,2), white)
}

.receipt {
    grid-template-rows: 3;
    width: 40vh;
    text-align: left;
    text-indent: 5px;;
    margin: 3% 10%;
    padding: 3% 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    max-height: 93vh;
    font-family: 'Courier New', Courier, monospace;
}

.receipt:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.6);
}

.header {
    grid-row: 1;
}

.receiptHeader {
    margin: 1px;
    font-family: 'Courier New', Courier, monospace;
}

.body {
    margin: 5px;
    padding: 5px;
    grid-row: 2;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    max-height: 60vh;
    min-height: 60vh;
    overflow-y: scroll;
}

.footer {
    grid-row: 3;
    margin-top: 1vh;
}

.receiptFooter {
    margin: 1px;
}

.buttons {
    grid-column: 2;
    text-align: left;
    margin: 3% 10%;
    padding: 3% 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    max-height: 87vh;
}

.buttons:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
}

.receiptFooter {
    margin: 1px;
}

.checkoutFooter {
    margin: 1px;
    text-align: right;
}

.itemButtons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    margin: 10px;
}

.itemButton {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10%;
    border: solid 1px black;
    border-radius: 10px;
    min-width: 76px;
    height: 100px;
    overflow: hidden;
}

.itemButton:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
}

.itemButton:active {
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navButtons {
    text-align: right;
    margin-top: 24vh;
}

.navButton {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: solid 1px black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: 0.3s;
}

.navButton:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
}

.navButton:active {
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2);
}

.lineItem {
    cursor: pointer;
}

.lineItemActive {
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
}

.lineItem:hover {
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
}

.scannerInput {
    opacity: 0;
}

ul {
    list-style-type:none;
}
